DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=change-me-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Production only
# DATABASE_URL=postgres://user:pass@host:5432/dbname
# CLOUDINARY_CLOUD_NAME=xxx
# CLOUDINARY_API_KEY=xxx
# CLOUDINARY_API_SECRET=xxx
